.auth_container {
	background-image: url("../../assets/elena-joland-mjeQon0Mh_Q-unsplash.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	width: inherit;
	align-items: center;
	justify-content: center;
}

.form_text {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.form_text h1 {
	margin: 0;
	padding: 0;
	line-height: 50px;
	color: black;
}

.form_text p {
	margin: 0;
	padding: 0;
}

.form_container {
	position: relative;
	top: 38px;
}

.auth_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3px;
}

.textfield {
	width: 300px;
}

.btn {
	position: relative;
	top: 30px;
}

.social {
	position: relative;
	top: 14px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.social_button {
	height: 40px;
	width: 40px;
	border-radius: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border: 1px solid;
	border-color: #c7c4c4;
	cursor: pointer;
}

.social_button:hover {
	transform: scale(1.1);
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 30px;
}

.divider-left,
.divider-right {
	width: 50px;
	height: 0.1px;
	background-color: #7b7b7b;
}

.text {
	padding: 0 10px;
	font-size: smaller;
}

.link {
	position: relative;
	top: 30px;
}

.formik_error {
	color: red;
	font-size: x-small;
}
